<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media Investigation Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>🔍 Social Media Investigation Tool</h1>
        <p>Open social media sources for cyber investigation support</p>

        <div class="button-group">
            <a href="https://www.facebook.com" target="_blank" class="btn">Facebook</a>
            <a href="https://www.instagram.com" target="_blank" class="btn">Instagram</a>
            <a href="https://x.com" target="_blank" class="btn">Twitter / X</a>
            <a href="https://web.telegram.org" target="_blank" class="btn">Telegram</a>
            <a href="https://web.whatsapp.com" target="_blank" class="btn">WhatsApp</a>
            <a href="https://myaccount.google.com" target="_blank" class="btn">Google Account</a>
        </div>

        <br><br>

        <form action="/result" method="POST">
            <input type="text" name="suspect_name" placeholder="Enter Suspect Name (e.g. Rahul Patil)" required>
            <br><br>
            <button type="submit" class="result-btn">View Investigation Result</button>
        </form>
    </div>

</body>
</html>